<header>
  <mat-toolbar color="primary">

    <span>PolyTickets</span>

    <button mat-button (click)="goToMainPage()">
      Available events
    </button>


    <button mat-button>
      Create a event
    </button>

    <button mat-button (click)="goToUploadVideoPage()">
      Add a new VOD video
    </button>

    <button mat-button (click)="goToVodService()">
      VOD service
    </button>

    <span class="spacer-header"></span>

    <button mat-button>
      Your cart is available for 4:49 minutes
    </button>

    <button mat-icon-button [matMenuTriggerFor]="cartMenu">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <mat-menu #cartMenu>
      <menu mat-menu-item *ngFor="let cart of cartElements">
        <mat-icon (click)="payTicket(cart.id_cart)">payment</mat-icon>
        {{cart.id_cart}}
      </menu>

      <menu mat-menu-item *ngIf="cartElements.length === 0">
        Your cart is empty
      </menu>
    </mat-menu>



  </mat-toolbar>
</header>

<ng-content select=".content"></ng-content>
